@charset "UTF-8";

.notice-info-wrap{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--m-color03);
}
.notice-info-wrap h2{
  line-height: 50px;
}
.notice-sub-wrap p{
  line-height: 25px;
  font-size: 14px;
}
.notice-info{
  font-weight: 800;
  padding-right: 20px;
}
.notice-file-wrap{
  line-height: 30px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--m-color03);
}
.notice-file-wrap a{
  display: block;
  width: 100%; height: 100%;
  color: #333;
  text-align: left;
}
.notice-item{
  line-height: 32px;
  font-weight: 200;
  margin-bottom: 30px;
}
.notice-btn-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.notice-mod-wrap{
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.btn{
  display: block;
  width: 150px;
  line-height: 48px;
  float: right;
}
.btn-sub{
  display: inline-block;
  width: 95px;
  line-height: 48px;
  text-align: center;
}
.btn-mod{
  background: var(--m-color01);
  color: var(--m-color02);
}
.btn-del{
  background: var(--m-color04);
  color: var(--m-color02);
}
.btn-list{
  background: var(--m-color01);
  color: var(--m-color02);
  text-align: center;
}