@charset "utf-8";
.user_apply-class-wrap{
  padding-bottom: 100px;
}
.class-title{
  text-align: center;
  line-height: 50px;
}
.user_apply_detail {
  display: inline;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80%;
  opacity: 0;
}
.table tr{
  position: relative;
}
.class-thumb{
  width: 100%;
}
.class-info p{
  width: 250px;
  margin: 0 auto;
  text-align: left;
  line-height: 30px;
}
.module_button_div{
  width: 200px;
  height: 40px;
  display: block;
  border: 1px solid #002968;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
.user_module_button{
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  color: #002968;
  display: block;
}